<div>
  <div class="card text-center"><div class="card-header">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/The_Event_2010_Intertitle.svg/1200px-The_Event_2010_Intertitle.svg.png">
  </div>
  <div class="card-body"><h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a></div><div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
</div>
