<div>
  <img class="image-event" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/The_Event_2010_Intertitle.svg/1200px-The_Event_2010_Intertitle.svg.png">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla accusantium vero animi dolore magni iusto, maxime dicta numquam ex obcaecati 
    alias? Laborum, excepturi voluptatum neque dolorem cupiditate dignissimos iste voluptatem, distinctio facilis sapiente nostrum exercitationem 
    impedit deserunt rem eius ducimus. Iure eveniet laborum tempora odio numquam cumque est soluta aliquam. Dicta eligendi id sunt. Quaerat 
    laboriosam repellendus fuga inventore! Laboriosam atque molestiae sed itaque sapiente maiores odio. Nobis sunt commodi iusto corrupti 
    praesentium dolores nam ad quisquam neque amet ut quaerat magnam fuga id autem vero dolor, labore ea libero molestias nisi? Tempora libero 
    deleniti voluptate provident excepturi, quos qui.
  </p>
</div>
